<div *ngIf="authService.isLoggedIn(); else loginScreen">

  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" routerLink="/home">Res<span class="brand-accent">Q</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" style="filter: invert(1);"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto text-center">
          <li class="nav-item">
            <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/call" routerLinkActive="active">Call</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/safety" routerLinkActive="active">Safety</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/profile" routerLinkActive="active">Profile</a>
          </li>
          <li class="nav-item">
            <button class="btn btn-danger mt-2 mt-lg-0 ms-lg-3 w-100 w-lg-auto" (click)="logout()">Logout</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- 
  <p class="quote-text">
    Saving one life may not change the world, but it changes someone’s world forever.
  </p> -->



  <div class="row mt-4 mt-lg-5 pt-3 pt-lg-5" style="min-height:550px;">
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


<ng-template #loginScreen>
  <router-outlet></router-outlet>
</ng-template>